body {
  font-family: Muli, "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.4;
  background: #dfdfdf;
}

h1, h2, h3 {
  font-family: PermanentMarker, Arial, sans-serif;
}

h4, h5, h6 {
  font-family: Muli, "Helvetica Neue", Arial, sans-serif;
}

.mainContent {
  width: 100%;
  max-width: 50rem;
  height: 100%;
  margin: 1rem auto;
  background: white;
}