.song{
  padding: 0.5rem;
  border-bottom: 1px solid #cdcdcd;
  &:last-of-type{
    border-bottom: none;
  }
  > span {
    display: inline-block;
    margin-right: 1.5rem;
    overflow: hidden;
    &:last-of-type{
      margin-right: 0;
    }
  }

  .name, .artist{
    width: calc(50% - 4rem);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close{
    float: right;
    cursor: pointer;
  }
}